a.meanmenu-reveal {
	display: none;
}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	position: absolute;
	background: transparent;
	padding: 20px 0 0;
	z-index: 999;
	border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.mean-container a.meanmenu-reveal {
	width: 30px;
	height: 30px;
	padding: 12px 15px 0 0;
	position: absolute;
	right: 0;
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-weight: 700;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	background: #ffffff;
	height: 5px;
    margin-top:4px;
    border-radius: 3px;
}
.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #ffffff;
	margin-top: 55px;
}
.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	border: none;
	list-style-type: none;
}
.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}
.mean-container .mean-nav ul li a {
	display: block;
	padding: 1em 5%;
	margin: 0;
	color: #677294;
	border-top: 1px solid #DBEEFD;
	text-decoration: none;
}
.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}
.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}
.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 3px;
	width: 100%;
	height: 24px;
	padding: 12px !important;
	text-align: right ;
	position: absolute;
	right:15px;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: transparent;
	border: none !important;
}
.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}
.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.mean-remove {
	display: none !important;
}
.mobile-nav {
    display: none;
}
    .mobile-nav.mean-container .mean-nav ul li a.active {
        color: #ffc10f;
    }
.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    z-index: 999;
    height: auto;
}
.mean-nav .dropdown-toggle::after {
	display: none;
}
.main-nav nav .navbar-nav .nav-item {
    position: relative;
    padding: 15px 0;
}
.main-nav nav .navbar-nav .nav-item a {
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.main-nav nav .navbar-nav .nav-item a:hover, 
.main-nav nav .navbar-nav .nav-item a:focus, 
.main-nav nav .navbar-nav .nav-item a.active {
    color: #ffc10f;
}
.main-nav nav .navbar-nav .nav-item:hover a {
    color: #ffc10f;
}
.main-nav nav .navbar-nav .nav-item:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
}